<div class="calendar">
{{#each entries}}
    <div class="day {{cssSelector}}">{{dayName}}</div>
    {{#if dayEvents.length}}
        {{#each dayEvents}}
            <div class="event" data-initDateISO="{{initDateISO}}" data-endDateISO="{{endDateISO}}" data-price="{{price}}" data-source="{{source}}" data-categories="{{categories}}">
                <div class="image"><img src="{{image}}" loading="lazy" alt="{{title}}"></div>
                <div class="content">
                    <div class="humanDate">{{initDateHuman}} - {{endDateHuman}}</div>
                    <div class="title">{{title}}</div>
                    <div class="price">{{price}}</div>
                    <div class="location"><a href="https://www.google.com/maps?q={{location}}" target="_blank">{{location}}</a></div>
                    <!-- {{variable}} escapes html, {{{variable}}} does not-->
                    <div class="description">{{content}}</div>
                    <div class="link"><a href="{{link}}">+ INFO</a></div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div class="no-events">No events available</div>
    {{/if}}
{{/each}}
</div>
<div class="lastUpdated"><center>Last Update: {{lastUpdated}}</center></div>
