<div class="calendar">
{{#each entries}}
    <div class="day {{cssSelector}}">Events on {{dayName}}</div>
    {{#if dayEvents.length}}
        {{#each dayEvents}}
            <div class="event {{source}}">
                <div class="image"><img src="{{image}}" alt="{{title}}"></div>
                <div class="content">
                    <h2 class="title">{{title}}</h2>
                    <p class="date">From {{initDate}} to {{endDate}}</p>
                    <p class="humanDate"><strong>Date:</strong> From {{HumanInitDate}} to {{HumanEndDate}}</p>
                    <p class="initDate">{{initDate}}</p>
                    <p class="enDate">{{endDate}}</p>
                    <p class="price"><strong>Price:</strong>  {{price}}</p>
                    <!-- {{variable}} escapes html, {{{variable}}} does not-->
                    <div class="description">{{content}}</div>
                    <p class="source">Source:  {{source}}</p>
                    <div class="link"><a href="{{link}}">More info</a></div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div class="no-events">No events available</div>
    {{/if}}
{{/each}}
</div>
<div class="lastUpdated"><center>Last Update: {{lastUpdated}}</center></div>
