<div class="calendar">
{{#each entries}}
    <div class="day {{cssSelector}}">Events on {{dayName}}</div>
    {{#each dayEvents}}
        <div class="event {{source}}">
            <h3>{{title}}</h3>
            <p class="description">{{content}}</p>
            <p class="date">From {{initDate}} to {{endDate}}</p>
            <p class="humanDate"><strong>Date:</strong> From {{HumanInitDate}} to {{HumanEndDate}}</p>
            <p class="initDate">{{initDate}}</p>
            <p class="enDate">{{endDate}}</p>
            <p class="price"><strong>Price:</strong>  {{price}}</p>
            <p class="link"><a href="{{link}}">More info about this event</a></p>
            <p class="image"><img src="{{image}}" alt="{{title}}"></p>
        </div>
    {{/each}}
{{/each}}
</div>
