* {
	/* border: 0.5px solid red; */
}

/*
PALETA DE COLORES

https://coolors.co/eac435-345995-03cea4-fb4d3d-ca1551
*/
:root {
	--azul-oscuro: #345995; 	/* Para texto blanco */
	--turquesa: #03CEA4; 		/* Para texto blanco */
	--amarillo: #EAC435; 		/* Para texto negro  */
	--rojo: #FB4D3D; 			/* Para texto blanco */
	--morado: #CA1551; 			/* Para texto blanco */
	--link-blue: #0000EE; /* Color de links de webkit */
	/* Events */
	--border-radius: 8px;
	--medium-grey-bg: #EBEBEB;
	--dark-grey-bg: #B8B8B8;

}

body {
	margin: 0;
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'Niramit', sans-serif;
}

header {
	background-color: var(--azul-oscuro);
	/* background: linear-gradient(to left, var(--turquesa), var(--azul-oscuro)) */
	background: linear-gradient(to left, var(--azul-oscuro), var(--turquesa));
	color: white;
	font-weight: bold;
	position: sticky;
	top: 0;
	z-index: 999;
}

header a,
header a:visited {
	text-decoration: none;
	color: inherit;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
}

header .menu-superior {
	/* Con los textos actuales no cabe en 1em,
	y no se me ocurren otros, desgraciadamente */
	font-size: 0.9em;
}

header .logo-hamburger {
	display: none;
}

header ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

header li {
	padding: 0.3em;
	margin: 0.3em;
	text-align: center;
}
header li:hover {
	background-color: var(--morado);
}

.container {
	margin: auto;
	max-width: 990px;
	padding: 0 1em;
}

article {
	line-break: auto;
}

article img {
	border-radius: var(--border-radius);	
}

footer {
	background-color: var(--amarillo);
	color: black;
}

.fichas {
	display: flex;
    justify-content: space-around;
}

.resaltado {
	background-color: var(--amarillo);
	display: block;
	padding: 1em;
}

/* Estilos del calendario */


.calendar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.day {
	width: 100%;
	padding: 0.5em 0;
	margin: 1em 0;
	font-size: 1.8em;
	display: flex;
	flex-direction: row;
	position: sticky;
	top: 1.2em;
	background-color: white;
}

.calendar .no-events,
.calendar .event {
	width: 32%;
	margin: 0.4em 0.4em 0 0;
	border-radius: var(--border-radius);
	background-color: var(--medium-grey-bg);
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.calendar .no-events {
	text-align: center;
}

.event .image {
	text-align: center;
	margin: 0;
}

.event .content {
	margin: 0 1em;
	height: 100%;
}

.event .description {
	display: none;
	font-size: 0.9em;
}

.event img {
	width: 100%;
	height: 25vh;
	object-fit: cover;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.event a {
	margin: 1em 0;
	float: right;
	text-align: center;
	text-decoration: none;
	width: fit-content;
	height: fit-content;
	padding: 16px 30px;
	background-color: var(--dark-grey-bg);
	color: black;
	border-radius: var(--border-radius)
}
.event a:hover {
	color: white;
	background-color: var(--turquesa);}

.event .date,
.event .initDate,
.event .enDate,
.event .source {
	display: none;
}

.lastUpdated {
	margin: 2em 0;
	font-size: small;
}

/* Estilos para telÃƒÆ’Ã‚Â©fonos mÃƒÆ’Ã‚Â³viles */

@media screen and (max-width: 800px) {
	header .container {
		flex-direction: column;
		align-items: center;
	}

	header .menu-superior {
		display: none;
	}

	header ul {
		flex-direction: column;
	}

	header .logo {
		width: 90%;
		align-items: center;
		justify-content: space-between;
	}

	header .logo-hamburger {
		display: initial;
		font-size: xx-large;
	}

	footer .fichas {
		flex-direction: column;
	}

	article img {
		/* Este estilo se pensÃƒÆ’Ã‚Â³ para sobreescribir los de nivel inferior en
		http://us.quecarallo.net/cometocoruna.com/?why-living-coruna

		No es lo recomendable, pero...
		*/
		max-width: 100% !important;
		float: inherit !important;
		display: block !important;
		margin: auto !important;
	}

	.calendar .no-events,
	.calendar .event {
		width: 100%;
		margin: 0.4em 0;
	}
}